 *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-align:center;
}
.head{
    display:flex;
    text-align: center;
    justify-content:center;
    background-color: grey;
   padding:1%;
   margin:1%;
   border:1%;
   
  
 }
 .content1{
    display:flex;
    display:inline-block;
    flex-direction:column;
   background-color: grey;
   justify-content:center;
   height:300px;
   width:11%;
   
 }
 

 .content2{
   background-color: grey;
   text-align: center;
   align-items: center;
   height:300px;
   width:75%;
   display:inline-block;
 }

